header(class="bg-white sticky top-0 z-50 border-b border-gray-200")
    nav(class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global")
        div(class="flex lg:flex-1")
            a(href="#" class="flex gap-5 -m-1.5 p-1.5")
                span(class="sr-only") Create-Express.js
                img(class="h-8 w-auto sm:h-10", src="/img/Create-Express.js-Logo-Light.svg", alt="Create-Express.js Logo")
                div(class="flex items-center gap-x-1 text-lg font-semibold leading-6 text-gray-900") Create-Express.js
        div(class="flex lg:hidden")
            button(type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700")
                span(class="sr-only") Open main menu
                svg(class="h-6 w-6" fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor", aria-hidden="true")
                    path(stroke-linecap="round", stroke-linejoin="round", d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5")
        div(class="hidden lg:flex lg:gap-x-12")
            a(href="https://www.stechbd.net" class="text sm.font-semibold leading-6 text-gray-900") Home
            div(class="relative")
                button(type="button" class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900" aria-expanded="false")
                    | Project
                    svg(class="h-5 w-5 flex-none text-gray-400") viewBox="0 0 20 20", fill="currentColor", aria-hidden="true")
                        path(fill-rule="evenodd", d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z', clip-rule='evenodd')
                div(class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-4xl overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5")
                    div(class="grid grid-cols-2 px-4 py-0")
                        a(href="https://www.stechbd.net/project/CookieCons" target="_blank" class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50")
                            div(class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white")
                                img(src="/img/app.svg" alt="App" class="h-6 w-6 text-gray-600 group-hover:text-indigo-600")
                            div(class="flex-auto")
                                span(class="block font-semibold text-gray-900") CookieCons
                                p(class="mt-1 text-gray-600") WordPress plugin for GDPR and ePrivacy Cookie Compliance
                        a(href="https://www.stechbd.net/project/ProjectPress" target="_blank" class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50")
                            div(class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white")
                                img(src="/img/app.svg" alt="App" class="h-6 w-6 text-gray-600 group-hover:text-indigo-600")
                            div(class="flex-auto")
                                span(class="block font-semibold text-gray-900") ProjectPress
                                p(class="mt-1 text-gray-600") WordPress plugin for showing your projects as a portfolio
                        a(href="https://www.stechbd.net/project/S-PHP-Engine" target="_blank" class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50")
                            div(class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white")
                                img(src="/img/app.svg" alt="App" class="h-6 w-6 text-gray-600 group-hover:text-indigo-600")
                            div(class="flex-auto")
                                span(class="block font-semibold text-gray-900") S PHP Engine
                                p(class="mt-1 text-gray-600") Lightweight MVC-based PHP framework for building powerful web applications
                        a(href="https://www.stechbd.net/project/S-Template-Engine" target="_blank" class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50")
                            div(class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white")
                                img(src="/img/app.svg" alt="App" class="h-6 w-6 text-gray-600 group-hover:text-indigo-600")
                            div(class="flex-auto")
                                span(class="block font-semibold text-gray-900") S Template Engine
                                p(class="mt-1 text-gray-600") Lightweight template engine for PHP
                        a(href="https://www.stechbd.net/project/S-Database-Explorer" target="_blank" class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50")
                            div(class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white")
                                img(src="/img/app.svg" alt="App" class="h-6 w-6 text-gray-600 group-hover:text-indigo-600")
                            div(class="flex-auto")
                                span(class="block font-semibold text-gray-900") S Database Explorer
                                p(class="mt-1 text-gray-600") Simple and easy to use Database Explorer for MySQL with PDO
                        a(href="https://www.stechbd.net/project/S-Number-Manager" target="_blank" class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50")
                            div(class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white")
                                img(src="/img/app.svg" alt="App" class="h-6 w-6 text-gray-600 group-hover:text-indigo-600")
                            div(class="flex-auto")
                                span(class="block font-semibold text-gray-900") S Number Manager
                                p(class="mt-1 text-gray-600") Simple library for converting numbers in different languages
                        a(href="https://www.stechbd.net/project/PyWeb" target="_blank" class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50")
                            div(class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white")
                                img(src="/img/app.svg" alt="App" class="h-6 w-6 text-gray-600 group-hover:text-indigo-600")
                            div(class="flex-auto")
                                span(class="block font-semibold text-gray-900") PyWeb
                                p(class="mt-1 text-gray-600") Python-based lightweight web browser for Windows
                        a(href="https://www.stechbd.net/project/ViewMD" target="_blank" class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50")
                            div(class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white")
                                img(src="/img/app.svg" alt="App" class="h-6 w-6 text-gray-600 group-hover:text-indigo-600")
                            div(class="flex-auto")
                                span(class="block font-semibold text-gray-900") ViewMD
                                p(class="mt-1 text-gray-600") Markdown viewer for Windows
                    // Add similar blocks for other menu items...
            a(href="https://www.stechbd.net/project/CookieCons" target="_blank" class="text sm.font-semibold leading-6 text-gray-900") About
            a(href="https://github.com/STechBD/Create-Express.js" target="_blank" class="text sm.font-semibold leading-6 text-gray-900") GitHub
        div(class="hidden lg:flex lg:flex-1 lg:justify-end")
            a(class="text-sm font-semibold leading-6 text-gray-900") S Technologies
    // Mobile menu, show/hide based on menu open state.
    div(class="lg:hidden" role="dialog" aria-modal="true")
        // Background backdrop, show/hide based on slide-over state.
        div(class="fixed inset-0 z-10")
        div(class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10")
            div(class="flex items-center justify-between")
                a(href="#" class="-m-1.5 p-1.5")
                    span(class="sr-only") S Technologies
                    img(class="h-8 w-auto", src="/img/Create-Express.js-Logo-Light.svg", alt="Create-Express.js Logo")
                button(type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700")
                    span(class="sr-only") Close menu
                    svg(class="h-6 w-6", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor", aria-hidden="true")
                        path(stroke-linecap="round", stroke-linejoin="round", d="M6 18L18 6M6 6l12 12")
            div(class="mt-6 flow-root")
                div(class="-my-6 divide-y divide-gray-500/10")
                    div(class="space-y-2 py-6")
                        div(class="-mx-3")
                            button(type="button" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" aria-controls="disclosure-1" aria-expanded="false")
                                | Project
                                // Expand/collapse icon, toggle classes based on menu open state.
                                svg(class="h-5 w-5 flex-none")
                                    path(fill-rule="evenodd", d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z", clip-rule="evenodd")
                                // 'Project' sub-menu, show/hide based on menu state.
                                div(class="mt-2 space-y-2" id="disclosure-1")
                                    a(href="https://www.stechbd.net/project/CookieCons" target="_blank" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50") CookieCons
                                    a(href="https://www.stechbd.net/project/ProjectPress" target="_blank" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50") ProjectPress
                                    a(href="https://www.stechbd.net/project/S-PHP-Engine" target="_blank" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50") S PHP Engine
                                    a(href="https://www.stechbd.net/project/S-Template-Engine" target="_blank" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50") S Template Engine
                                    a(href="https://www.stechbd.net/project/S-Database-Explorer" target="_blank" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50") S Database Explorer
                                    a(href="https://www.stechbd.net/project/S-Number-Manager" target="_blank" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50") S Number Manager
                                    a(href="https://www.stechbd.net/project/PyWeb" target="_blank" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50") PyWeb
                                    a(href="https://www.stechbd.net/project/ViwMD" target="_blank" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50") ViewMD
                    div(class="py-6")
                        a(href="https://www.stechbd.net" target="_blank" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50") S Technologies
