extends layout


block content
    div(class="relative isolate px-6 lg:px-8")
        div(class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true")
            div(class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)")
        div(class="mx-auto max-w-2xl py-20 sm:py-48 lg:py-32")
            div(class="hidden sm:mb-8 sm:flex sm:justify-center")
                div(class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20")
                    | Current Version:
                    a(href="https://github.com/STechBD/Install-Express/releases" class="font-semibold text-indigo-600")
                        span(class="absolute inset-0" aria-hidden="true")
                        | &nbsp;v1.0.0
            div(class="text-center")
                h1(class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl") Start your Express.js backend project in seconds!
                div(class="flex items-center justify-center gap-5 bg-gray-100 border border-gray-300 rounded-lg p-4 mt-6")
                    pre(class="flex-grow text-sm font-mono text-gray-800 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg")
                        code(class="language-bash text-sm font-mono text-gray-200 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg mb-4")
                            | npx install-express@latest
                    button(id="copyText" class="px-3 py-1 text-sm font-medium text-gray-700 border border-gray-300 bg-white rounded-md focus:outline-none focus:ring focus:ring-gray-300 hover:bg-gray-200") Copy
                p(class="mt-6 text-lg leading-8 text-gray-600") Install-Express is a CLI tool that helps you to create a Express.js backend project in seconds. It is a simple, fast, and lightweight tool that you can use to create a Express.js backend project with TypeScript, Pug, and Sass. It also includes a basic folder structure and some basic files to get started.
                div(class="mt-10 flex items-center justify-center gap-x-6")
                    a(href="https://docs.stechbd.net/Install-Express" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") Get started
                    a(href="https://www.stechbd.net/project/Install-Express" class="text-sm font-semibold leading-6 text-gray-900")
                        | Learn more
                        span(aria-hidden="true") →
        div(class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true")
            div(class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)")
        div(class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true")
            div(class="relative left-[calc(50%-3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)")
        // new section with h2
        div(class="px-20 py-10")
            h2(class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl") Features
            div(class="mt-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3")
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") TypeScript
                        p(class="mt-4 text-base text-gray-500") TypeScript is a typed superset of JavaScript that compiles to plain JavaScript. It is pure object-oriented with classes, interfaces, and statically typed like C# or Java.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://www.typescriptlang.org/" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") Pug
                        p(class="mt-4 text-base text-gray-500") Pug is a high-performance template engine heavily influenced by Haml and implemented with JavaScript for Node.js and browsers.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://pugjs.org/api/getting-started.html" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") Sass
                        p(class="mt-4 text-base text-gray-500") Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://sass-lang.com/guide" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
        div(class="px-20 py-10")
            h2(class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl") Installation
            div(class="mt-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3")
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") Create a new project
                        p(class="mt-4 text-base text-gray-500") To create a new project, run the following command:
                    div(class="pt-6 pb-8 px-6")
                        pre(class="flex-grow text-sm font-mono text-gray-800 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg")
                            code(class="language-bash text-sm font-mono text-gray-200 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg mb-4")
                                | npx install-express@latest
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") Create a new project with a specific version
                        p(class="mt-4 text-base text-gray-500") To create a new project with a specific version, run the following command:
                    div(class="pt-6 pb-8 px-6")
                        pre(class="flex-grow text-sm font-mono text-gray-800 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg")
                            code(class="language-bash text-sm font-mono text-gray-200 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg mb-4")
                                | npx install-express@1.0.0
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") Create a new project with a specific name
                        p(class="mt-4 text-base text-gray-500") To create a new project with a specific name, run the following command:
                    div(class="pt-6 pb-8 px-6")
                        pre(class="flex-grow text-sm font-mono text-gray-800 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg")
                            code(class="language-bash text-sm font-mono text-gray-200 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg mb-4")
                                | npx install-express@latest my-project
        div(class="px-20 py-10")
            h2(class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl") Support
            div(class="mt-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3")
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") GitHub
                        p(class="mt-4 text-base text-gray-500") If you have any problems or suggestions, please open an issue on GitHub.
                    div(class="pt-6 pb-8 px-6")
                        a(href="#" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") Twitter
                        p(class="mt-4 text-base text-gray-500") If you have any problems or suggestions, please DM me on Twitter.
                    div(class="pt-6 pb-8 px-6")
                        a(href="#" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
        div(class="px-20 py-10")
            h2(class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl") Contributors
            div(class="mt-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3")
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") Md. Ashraful Alam Shemul
                        p(class="mt-4 text-base text-gray-500") Software Developer
                        p(class="mt-4 text-base text-gray-500")
                            a(href="https://www.stechbd.net" target="_blank" class="text-base font-medium text-indigo-600 hover:text-indigo-500") S Technologies
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://github.cm/AAShemul" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
        div(class="px-20 py-10")
            h2(class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl") Project List
            div(class="mt-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4")
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") CookieCons
                        p(class="mt-4 text-base text-gray-500") WordPress plugin for GDPR and ePrivacy Cookie Compliance.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://www.stechbd.net/project/CookieCons" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") ProjectPress
                        p(class="mt-4 text-base text-gray-500") WordPress plugin for showing projects as a portfolio.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://www.stechbd.net/project/ProjectPress" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") S PHP Engine
                        p(class="mt-4 text-base text-gray-500") Lightweight MVC-based PHP framework for building powerful web applications.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://www.stechbd.net/project/S-PHP-Engine" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") S Template Engine
                        p(class="mt-4 text-base text-gray-500") Lightweight template engine for PHP.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://www.stechbd.net/project/S-Template-Engine" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") S Database Explorer
                        p(class="mt-4 text-base text-gray-500") Simple and easy to use Database Explorer for MySQL with PDO.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://www.stechbd.net/project/S-Database-Explorer" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") S Number Manager
                        p(class="mt-4 text-base text-gray-500") Simple library for converting numbers in different languages.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://www.stechbd.net/project/S-Number-Manager" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") PyWeb
                        p(class="mt-4 text-base text-gray-500") Python-based lightweight web browser for Windows.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://www.stechbd.net/project/PyWeb" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") ViewMD
                        p(class="mt-4 text-base text-gray-500") Markdown viewer for Windows.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://www.stechbd.net/project/ViwMD" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
        div(class="px-20 py-10")
            h2(class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl") FAQ
            div(class="mt-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3")
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") What is Install-Express?
                        p(class="mt-4 text-base text-gray-500") Install-Express is a CLI tool that helps you to create a Express.js backend project in seconds. It is a simple, fast, and lightweight tool that you can use to create a Express.js backend project with TypeScript, Pug, and Sass. It also includes a basic folder structure and some basic files to get started.
                    div(class="pt-6 pb-8 px-6")
                        a(href="https://docs.stechbd.net/Install-Express" class="text-base font-medium text-indigo-600 hover:text-indigo-500") Learn more
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") How to install Install-Express?
                        p(class="mt-4 text-base text-gray-500") To install Install-Express, run the following command:
                    div(class="pt-6 pb-8 px-6")
                        pre(class="flex-grow text-sm font-mono text-gray-800 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg")
                            code(class="language-bash text-sm font-mono text-gray-200 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg mb-4")
                                | npm install -g install-express
                div(class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200")
                    div(class="p-6")
                        h3(class="text-lg font-medium text-gray-900") How to create a new project?
                        p(class="mt-4 text-base text-gray-500") To create a new project, run the following command:
                    div(class="pt-6 pb-8 px-6")
                        pre(class="flex-grow text-sm font-mono text-gray-800 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg")
                            code(class="language-bash text-sm font-mono text-gray-200 px-4 py-2 whitespace-pre line-numbers bg-gray-900 rounded-lg mb-4")
                                | npx install-express@latest
        div(class="px-20 py-10")
