doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
        link(rel="icon", href="/img/Install-Express-Logo-Light.svg")
        script(src="https://cdn.tailwindcss.com")
        script(src="https://code.jquery.com/jquery-3.7.1.min.js")
        script(src="/js/script.js")
    body
        include header
        block content
