doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src='https://cdn.tailwindcss.com')
        script(src='/js/script.js')
    body
        include header
        block content
